//Created by Anto Rupak
page-actualusagecounter {

    .item .item-button {
        padding: 0 0.5em;
        height: 35px;
        font-size: 2rem;
        background-color: red;
    }
}

.timer{
    font-size: xx-large;
    width: 100%;
    text-align: center;
}