//Created by Anto Rupak
page-reset-password {
  .input-icon-wrap {
    border: 1px solid #ddd;    
    display: flex;
    flex-direction: row;
  }
  
  .input-icon {
    background: #ddd;
  }
  
  .input-with-icon {
    border: none;
    flex: 1;
  }
  
  .input-icon, .input-with-icon {
    padding: 10px;
  }
    img {
        max-width: 25%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top:5%;
    }
    #over{
    display:flex;
    align-items:center;
    justify-content:center;
    } 
}

