page-instrumentstechissue {
    ion-list{
        margin: 2%;
        padding: 1%
    }
    p.cardcontents{
        text-align: justify;
        margin: 1%;
        margin-left: 2%;
        white-space: initial;
      }
      .liststyle{
        border: 1px solid #000000; 
        margin: 1%;
      }
      
}
