page-allsupplies {
  ion-icon{
    vertical-align: middle;
    font-size: 2em;
   }
    p { 
        display: block;
        margin-top: 0.8em;
        margin-bottom: 0.3em;
        margin-left: 10px;
        margin-right: 0; }
      .colalign{
        margin-right: 4px
      }
      .cardalign{
        padding: 13px 8px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .disp{
        border: 1px solid #000000;
    
      }
      .date_time{
        margin-top:50%;color: #000000
      }
      .rowalign{
        align-items: center;height: 3em
      }
      .example-trigger {
        display: inline-block;
      }
      .select {
       
        margin-right: 5px;
        margin-top: 4px;
    }
    #startbutton{
      background-color: green;
      width: 10rem;
    }
    #endbutton{
      background-color: red;
      width: 10rem;
    }
    p { 
      display: block;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      margin-left: 10px;
      margin-right: 0; }
    
    ion-select {
      
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1px 0px 1px 1px;
      align-items: center;
      height: 35px;
      text-align: left;
      max-width: 100%;
      border: 1px solid rgb(0, 0, 0);
    }
    
      
     
             p.dropdown{
              font-size: 1.8rem;
              font-weight: bold;
              color: #000000;
              margin-left: .3em;
            }
            .col {
              padding: 0px;
              position: relative;
              width: 100%;
              margin: 0;
              min-height: 1px;
              -webkit-flex-basis: 0;
              -ms-flex-preferred-size: 0;
              flex-basis: 0;
              -webkit-box-flex: 1;
              -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              max-width: 100%;
            }
                   
                    ion-option { direction: rtl;
                     }
     
    .datetime-text{
    display: none;
    }
            p.cardslayout{
                text-align: justify;
                font-size:2rem;
                color: rgb(0, 0, 0);
                text-decoration: bold;
                font-weight: bold;
            
              }
              canvas {
                padding: 0;
                margin: auto;
                display: block;
                width: 800px;
            }
              p.heading{
                text-align: justify;
                font-size:2rem;
                color: #1976D2;
                text-decoration: bold;
                
              
              }
              p.cardslayout{
                text-align: justify;
                font-size:2rem;
                color: #1976D2;
                border-bottom: 0.5rem;
                text-decoration: bold;
                margin: 1%;
                
              }
             
             
             
              
                     
               .block{
                margin-top: 1%;
                border: 1px solid rgb(0, 0, 0);
                
            }
            .intro{
                
                background-color:#1976D2;
                padding: 1%;
                align-content: center;
                align-items: center;
            }
            h3{
                color:white;
                background-color: #1976D2;
                
            }
            .gap{
                margin: 2%;
            }
            .gapp{
                
                background-color: #1976D2;
                color:white;
            }
            .rejected{
              color: #ef5350;
            }
            .approved{
              color: #66BB6A;
            }
            p.cardcontents{
              text-align: justify;
              margin: 1%;
              margin-left: 2%;
              white-space: initial;
            }
            div.cardcontents{
              text-align: justify;
              margin: 1%;
              margin-left: 2%;
              white-space: initial;
            }
              p.title{
                text-align: justify;
                font-size:1.5rem;
                color: rgb(0, 0, 0);
                text-decoration: bold;
                font-weight: bold;
              }
              ion-card {
                position: relative;
                text-align: left;
                height: auto;
                width: auto;
                max-width: 100%;
              }
        
            
            .hide {
                display: none;
              }
}
